@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
  margin: 0;
  font-family: Roboto;
}

.container {
  display: flex;
  margin: 40px;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.NavWrapper {
  display: flex;
  justify-content: space-around;
  gap: 200px;
  align-items: center;
  width: 100vw;
  background-color: #db7c38;
}

.CompanyLogo {
  width: 60px;
  padding: 10px;
}

.NavItems ul {
  display: flex;
}

.NavItems ul li {
  display: flex;
  margin-left: 50px;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
}

.btn {
  padding: 5px 20px;
  margin: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #000;
  background: #000000;
  color: #fff;
  font-weight: 400;
}
